body {
    background-color:black;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
}
div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2in;
    overflow: hidden;
    margin: 0;
}
a:link {
    text-decoration: none;
}
#jokesButton:hover {
    background: rgb(11,255,10);
    background: linear-gradient(90deg, rgba(11,255,10,1) 5%, rgba(0,255,200,1) 15%, rgba(0,220,255,1) 25%, rgba(0,100,255,1) 35%, rgba(100,0,200,1) 45%, rgba(190,0,255,1) 55%, rgba(255,0,245,1) 65%, rgba(255,0,135,1) 75%, rgba(255,0,0,1) 85%, rgba(240,140,0,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#jokesButton:active {
    text-decoration:line-through greenyellow;
}
/* Plus Hover Color*/
#plus:hover {
    background-color:red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#plus:active {
    text-decoration:line-through greenyellow;
}
#riddlesButton:hover {
    background: rgb(240,140,0);
    background: linear-gradient(90deg, rgba(240,140,0,1) 5%, rgba(255,0,0,1) 15%, rgba(255,0,135,1) 25%, rgba(255,0,245,1) 35%, rgba(190,0,255,1) 45%, rgba(128,0,255,1) 55%, rgba(0,100,255,1) 65%, rgba(0,220,255,1) 75%, rgba(0,255,200,1) 85%, rgba(11,255,10,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#riddlesButton:active {
    text-decoration:line-through greenyellow;
}
#jokesButton {
    font-size: 20vh;
    background: rgb(240,140,0);
    background: linear-gradient(90deg, rgba(240,140,0,1) 5%, rgba(255,0,0,1) 15%, rgba(255,0,135,1) 25%, rgba(255,0,245,1) 35%, rgba(190,0,255,1) 45%, rgba(128,0,255,1) 55%, rgba(0,100,255,1) 65%, rgba(0,220,255,1) 75%, rgba(0,255,200,1) 85%, rgba(11,255,10,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#plus {
    font-size: 10vh;
    background: rgb(0,255,200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#riddlesButton {
    font-size: 20vh;
    background: rgb(11,255,10);
    background: linear-gradient(90deg, rgba(11,255,10,1) 5%, rgba(0,255,200,1) 15%, rgba(0,220,255,1) 25%, rgba(0,100,255,1) 35%, rgba(100,0,200,1) 45%, rgba(190,0,255,1) 55%, rgba(255,0,245,1) 65%, rgba(255,0,135,1) 75%, rgba(255,0,0,1) 85%, rgba(240,140,0,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}