body {
    background-color:black;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
}
div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2in;
    overflow: hidden;
    margin: 0;
}
a:link {
    text-decoration: none;
}
#jokesButton:hover {
    background: rgb(11,255,10);
    background: linear-gradient(90deg, rgba(11,255,10,1) 5%, rgba(0,255,200,1) 15%, rgba(0,220,255,1) 25%, rgba(0,100,255,1) 35%, rgba(100,0,200,1) 45%, rgba(190,0,255,1) 55%, rgba(255,0,245,1) 65%, rgba(255,0,135,1) 75%, rgba(255,0,0,1) 85%, rgba(240,140,0,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#jokesButton:active {
    text-decoration:line-through greenyellow;
}
#plus:hover {
    background: rgb(255,0,245);
    background: radial-gradient(circle, rgba(255,0,100) 10%, rgba(255,0,245,1) 15%, rgba(190,0,255,1) 25%, rgba(128,0,255,1) 35%, rgba(0,100,255,1) 45%, rgba(0,220,255,1) 55%, rgba(0,255,200,1) 65%, rgba(11,255,10,1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#plus:active {
    text-decoration:line-through greenyellow;
}
#riddlesButton:hover {
    background: rgb(240,140,0);
    background: linear-gradient(90deg, rgba(240,140,0,1) 5%, rgba(255,0,0,1) 15%, rgba(255,0,135,1) 25%, rgba(255,0,245,1) 35%, rgba(190,0,255,1) 45%, rgba(128,0,255,1) 55%, rgba(0,100,255,1) 65%, rgba(0,220,255,1) 75%, rgba(0,255,200,1) 85%, rgba(11,255,10,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#riddlesButton:active {
    text-decoration:line-through greenyellow;
}
#jokesButton {
    font-size: 1.5in;
    background: rgb(240,140,0);
    background: linear-gradient(90deg, rgba(240,140,0,1) 5%, rgba(255,0,0,1) 15%, rgba(255,0,135,1) 25%, rgba(255,0,245,1) 35%, rgba(190,0,255,1) 45%, rgba(128,0,255,1) 55%, rgba(0,100,255,1) 65%, rgba(0,220,255,1) 75%, rgba(0,255,200,1) 85%, rgba(11,255,10,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#plus {
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 15%, rgba(255,0,245,1) 25%, rgba(190,0,255,1) 35%, rgba(122,5,255,1) 45%, rgba(0,100,255,1) 55%, rgba(0,220,255,1) 65%, rgba(0,255,252,1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:2vh solid aqua;
    border-radius: 50%;
    font-size: 1.5in;
    height: 100px;
    width: 100px;
}
#riddlesButton {
    font-size: 1.5in;
    background: rgb(11,255,10);
    background: linear-gradient(90deg, rgba(11,255,10,1) 5%, rgba(0,255,200,1) 15%, rgba(0,220,255,1) 25%, rgba(0,100,255,1) 35%, rgba(100,0,200,1) 45%, rgba(190,0,255,1) 55%, rgba(255,0,245,1) 65%, rgba(255,0,135,1) 75%, rgba(255,0,0,1) 85%, rgba(240,140,0,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    text-align: center;
    letter-spacing: 2vh;
    font-size: 1.5cm;
}
